# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Arquivos de IDEs
.vscode/
*.swp

# Arquivos de Dependências (se você usar npm/yarn)
node_modules/

# Arquivo de Variáveis de Ambiente
.env

# Outros arquivos
domain.txt