/* PALETA DECORES
#160d18 - Preto

#23145b - Azul Escuro

#09456c - Azul Médio

#026f6e - Verde Escuro

#1ca39e - Verde Claro

*/

/* ========================== MODO NOTURNO ========================== */

/* Fundo da página */
body.modo-noturno::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/Background/MODO ESCURO MAIOR.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; /* Garante que o fundo fique atrás de todo o conteúdo */
  transition: background-image 0.3s ease; /* Adiciona transição suave */
}

/* Cabeçalho */
body.modo-noturno header {
  background-color: #160d18; /* Cor de fundo do cabeçalho */
  color: #fff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.modo-noturno header nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Botão de Modo Noturno */
body.modo-noturno #toggle-modo-noturno {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff; /* Cor padrão para o modo claro */
  transition: color 0.3s ease;

  position: relative;
  top: 2px;
}

body.modo-noturno #toggle-modo-noturno:hover {
  color: #fff649; /* Cor ao passar o mouse */
}

/* Seção de Produtos (Carrossel) */
body.modo-noturno #produtos {
  background-color: #160d18; /* Cor de fundo */
}

body.modo-noturno .thumbnails__image.active {
  border-color: #026f6e; /* Destaque para a thumb ativa */
}

/* Menu de Abas */
body.modo-noturno #abasMenu {
  background-color: #160d18; /* Cor de fundo para o menu */
  border: none;
  box-shadow: none;
}

body.modo-noturno #abasMenu .nav-link {
  text-decoration: none;
  border: none;
  box-shadow: none;

  background-color: #23145b; /* Cor de fundo padrão */
  color: rgb(255, 255, 255); /* Cor do texto padrão */
  box-shadow: #026f6e; /* Sombra suave */
}

body.modo-noturno #abasMenu .nav-link:hover {
  text-decoration: none; /* Garante que o sublinhado não apareça */
  border: none; /* Remove bordas */
  box-shadow: none; /* Remove sombras */

  background-color: #026f6e; /* Cor ao passar o mouse */
  cursor: pointer; /* Muda o cursor para indicar interatividade */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ao passar o mouse */
  transform: scale(1.05); /* Aumenta levemente o botão */
  color: rgb(255, 255, 255); /* Cor do texto ao passar o mouse */
}

/* Seção de Contato */
body.modo-noturno #contato {
  background-color: #160d18; /* Cor de fundo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  color: white;
}

/* Redes Sociais no Contato */
body.modo-noturno #redes-contatos {
  background-color: #160d18; /* Cor de fundo */
  color: white;
}

body.modo-noturno .redes-contatos-item span {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
  transition: color 0.3s ease, transform 0.3s ease; /* Transição suave */
  color: #ffffff; /* Cor do texto padrão */
}

body.modo-noturno .redes-contatos-item span:hover {
  color: #1ca39e; /* Cor ao passar o mouse */
  transform: scale(1.1); /* Aumenta levemente o texto */
}

/* Campo de Mensagem dos itens do carrinho*/
body.modo-noturno #mensagem-carrinho {
  background-color: #434343; /* Cor de fundo */
  color: white;
}

/* Seção de Localização */
body.modo-noturno #local {
  background-color: #160d18; /* Cor de fundo */
  color: white;
}

/* Texto de Atenção */
body.modo-noturno #atencao {
  font-weight: bold; /* Negrito */
  color: rgb(255, 43, 78);
  text-decoration: underline;
}

/* Menu do Catálogo */

body.modo-noturno #menu-catalogo .menu-item {
  background-color: #23145b; /* Cor de fundo dos botões */
  transition: background-color 0.3s ease; /* Animação suave */
  color: #ffffff;
}

body.modo-noturno #menu-catalogo .menu-item:hover {
  background-color: #026f6e; /* Cor ao passar o mouse */
  transform: translateY(-2px); /* Levanta o botão ao passar o mouse */
  transform: scale(1.05); /* Aumenta levemente o botão */
}

/* Seção do Catálogo */

/*imagens do catálogo*/
body.modo-noturno .tituloDoCatalogo {
  content: url("../images/Icons/Modo Escuro - Inicio Catalogo.svg");
}

body.modo-noturno .finaldocatalogo {
  content: url("../images/Icons/Modo Escuro - Final Catalogo.svg");
}

body.modo-noturno #catalogo {
  background-color: #160d18; /* Cor de fundo da seção */
}

/* Cartões de Plantas */
body.modo-noturno .planta-card {
  background-color: #271a45;
}

body.modo-noturno .planta-card h3 {
  color: #ffffff;
}

body.modo-noturno .planta-card p:nth-of-type(2) {
  /* Tamanho da Planta */
  color: #8e8e8e; /* Cor cinza para menor destaque */
}

body.modo-noturno .planta-card:hover h3,
body.modo-noturno .planta-card:hover p {
  transform: scale(1.05); /* Aumenta levemente o texto */
  transition: transform 0.3s ease, color 0.3s ease; /* Animação suave */
  color: #fff649; /* Muda a cor do texto ao passar o mouse */
}

body.modo-noturno .planta-card :hover {
  transform: scale(1.05); /* Aumenta levemente o cartão */
  transition: transform 0.3s ease; /* Animação suave */
}

/* Rodapé */
body.modo-noturno footer {
  background-color: #160d18;
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Notificações */
body.modo-noturno #toast-container .toast {
  background-color: #1ca39e; /* Cor chamativa */
  color: white; /* Cor do texto */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Responsividade para Dispositivos Móveis */
@media (max-width: 768px) {
  body.modo-noturno::before {
    background-image: url("../images/Background/MODO ESCURO MENOR.svg"); /* Imagem otimizada para telas menores */
  }
}
